@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

.box-wrapper{
    display: flex;
    flex-direction: column;
    .title-wrapper{
        display: flex;
        justify-content: left;
        flex-direction: column;
        border-bottom: 2px solid black;
        padding:1rem;
        .title{
            color: brown;
            font-size: 2rem;
            width: 100%;
            font-weight: 600;
            font-family: 'Source Sans Pro', sans-serif;
            @media (max-width : 575px) {
                font-size: 1.5rem;
            }
        }
        .sub-title{
            color: black;
            font-size: 1rem;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 600;
            @media (max-width : 575px) {
                font-size: 1rem;
                width: 200px;
            }
        }

    }
}