@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&family=New+Tegomin&family=Zilla+Slab+Highlight&display=swap');

.footer-wrapper{
    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #efcfcf;
    flex-direction: column;
    margin-top: 5%;
    background-image: linear-gradient(#070556, #5b6d9a);
    padding-top: 5%;
    padding-bottom: 5%;
    .title-name{
        font-size: 1.5rem;
        font-weight: 700;
        font-family: 'Titillium Web', sans-serif;
        margin: 2%;
            @media (max-width :1020px) {
            font-size: 1rem;
        }
        @media (max-width :520px) {
            font-size: 1rem;
        }
    }
    .profile-image{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('../assets/profile.png');
        height: 200px;
        width: 200px;
        border-radius: 50%;
        @media (max-width :1020px) {
            height: 150px;
            width: 150px;
        }
        @media (max-width :520px) {
            height: 100px;
            width: 100px;
        }
    }
    .icons-wrapper{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-bottom: 5%;
        a{
            margin: 5%;
            cursor: pointer;
            img{
                height: 100%;
                width: 70px;    
                @media (max-width :1020px) {
                    height: 40px;
                    width: 40px;
                }
                @media (max-width :520px) {
                    height: 30px;
                    width: 30px;
                }
            }
        }
    }
    .footer-hire-me{
        height: 100%;
        width: 100%;
        text-align: center;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 600;
        color: white;
        text-decoration: underline;
        background-color: #5631ff;
        padding: 5px;
        width: 15%;
        border-radius: 2px;
        margin: 5px;
        @media (max-width :520px) {
            font-size: 0.8rem;
            margin: 2%;
            width: 50%;
        }
    }
    .footer-epilogue{
        height: 100%;
        width: 100%;
        text-align: center;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 600;
        @media (max-width :520px) {
            font-size: 0.8rem;
        }
    }
    
    .footer-copyright{
        color: rgb(158, 198, 245);
        @media (max-width :520px) {
            font-size: 0.7rem;
        }
        &.updates{
            margin-bottom: 5%;
            margin-top: 0;
        }
    }
}